.flex {
  display: flex;
}
.dialog-container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  display: flex;
}
.dialog-add {
  width: 800px;
  height: 360px;
  background-color: #fff;
}
.dialog-add-container {
  display: flex;
  margin: 16px 16px 16px 33px;
  height: calc(100% - 32px);
  gap: 26px;
}
.dialog-line {
  width: 1px;
  height: 326px;
  background-color: var(--line-color);
}
.dialog-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dialog-employee-img {
  width: 150px;
  height: 176px;
  background-image: url(../../assets/Icons/img_avatar.png);
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.dialog-employee-img-add {
  background-color: var(--main-color);
  color: #fff;
  font-size: 13px;
  text-align: center;
  line-height: 30px;
  height: 30px;
}
.dialog-employee-img-add:hover {
  cursor: pointer;
}
.dialog-employee-name {
  margin-top: 16px;
}
.dialog-employee-code {
  font-size: 12px;
  margin-top: 4px;
}
.dialog-right {
  width: 568px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--dialog-text-color);
}
.dialog-right-header {
  display: flex;
  justify-content: space-between;
}
.dialog-close-button {
  background-image: url(../../assets/Icons/ic_X_2.png);
  width: 20px;
  background-repeat: no-repeat;
  height: 20px;
}
.dialog-name {
  margin-left: 4px;
}
.dialog-right-body {
  margin-bottom: 16px;
  font-size: 14px;
  height: 170px;
  display: grid;
  grid-template-columns: 108px 140px 108px 180px;
  grid-template-rows: 28px 1fr 1fr 1fr;
  row-gap: 18px;
  column-gap: 4px;
  align-items: center;
}
.dialog-right-body-checkbox {
  display: flex;
  font-size: 14px;
  gap: 4px;
}
.dialog-right-footer {
  display: flex;
  justify-content: end;
  gap: 8px;
}
.dialog-button {
  height: 32px;
  width: 96px;
  font-size: 13px;
  color: #4d4f5c;
  border: unset;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #b8b8be;
}
#dialog-button-save {
  background-color: #03ae66;
  color: #fff;
  border: unset;
}
.dialog-right-body-checkbox-right {
  display: flex;
  gap: 4px;
  margin-left: 28px;
}
.color-red {
  color: var(--delete-color);
}
.dialog-el-1 {
  display: flex;
  align-items: center;
  gap: 4px;
}
.dialog-input {
  border-radius: 4px;
  height: 26px;
  border: solid 1px #b8b8be;
}
.dialog-el-3 {
  display: flex;
  align-items: center;
  gap: 4px;
}
.dialog-el-13 {
  grid-column: 2/5;
}
.dialog-el__marrgin {
  margin-left: 16px;
}
.dialog-container input:focus {
  outline: none;
  border: 1px solid var(--main-color);
}
/* ERROR MESSAGE */

.dialog-el-right--error {
  position: absolute;
  bottom: 0;
  right: -220px;
  background-color: rgba(250, 57, 57, 0.7);
  color: #fff;
  padding: 4px;
  font-size: 12px;
  border-radius: 4px;
}
.dialog-el-right--error:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: "";
  position: absolute;
  border-right-color: rgba(250, 57, 57, 0.7);
  border-width: 8px;
  margin-top: -8px;
}
.dialog-el-left--error {
  border-radius: 4px;
  position: absolute;
  bottom: 0;
  left: -192px;
  background-color: rgba(250, 57, 57, 0.7);
  color: #fff;
  padding: 4px;
  font-size: 12px;
}
.dialog-el-left--error:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: "";
  position: absolute;
  border-left-color: rgba(250, 57, 57, 0.7);
  border-width: 8px;
  margin-top: -8px;
}
.input-error {
  border-color: var(--delete-color);
}
.dialog-el-0-error {
  display: none;
}
.dialog-el-2-error {
  display: none;
}
