.icon {
  width: 32px;
  height: 25px;
  background-repeat: no-repeat;
}
.button {
  height: 32px;
  /* min-width: 96px; */
  font-size: 13px;
  color: #4d4f5c;
  border: unset;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #b8b8be;
}
.button-default {
  background-color: #03ae66;
  color: #fff;
  border: unset;
}
.cursor-pointer:hover {
  cursor: pointer;
}
